* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.banner {
  position: relative;
  width: 100%;
}

#banner-text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

.lrg-text {
  font-size: 5vw;
}

.sml-text {
  font-size: 2vw;
  color: white;
}

.categories {
  padding: 100px;
}

.categories h1 {
  font-size: 3vw;
}

.lists {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.listdesc img {
  width: 80%;
}

.name {
  font-size: 100%;
  font-weight: bold;
}

.sub-name {
  font-size: 70%;
  color: gray;
}

.price {
  font-size: 150%;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin-right: 23%;
}

.price button {
  width: 30%;
  background-color: #6196ff;
  border-radius: 5px;
  padding: 0.1%;
  color: white;
  font-weight: 800;
}

.price img {
  width: 25%;
}

footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  padding: 100px;
}

@media (max-width: 700px) {
  .categories {
    padding: 30px;
  }

  .categories h1 {
    font-size: 5vw;
    text-align: center;
  }

  .lists {
    flex-direction: column;
    padding: 30px 0px 30px 45px;
  }

  .listdesc {
    padding: 10px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 50px;
  }
}
